$orange: #f5A831;

body{
   background-color:#fff;
   font-size: 18px;
   font-family: Alegreya Sans, helvetica, Arial, Sans-serif;
   font-weight: lighter;
}

#content{
   width:560px;
   margin: 120px auto 30px;
   text-align: center;

   @media screen and (max-width: 400px){
      width: 100%;
      margin-top: 15px;
   }
}

ul{
   margin:0;
   padding:0;
   list-style: none;
   overflow: hidden;
   margin-bottom: 20px;
}

li{
   float: left;
   display: block;
   border-right: 1px solid #999;
   padding: 5px 10px 10px;
   width: 33%;
   box-sizing: border-box;
   text-align: center;
   border-bottom: 1px solid #999;

   @media screen and (max-width: 400px){
      float: none;
      width:100%;
      border-right: none;
      font-size: 1.3em;
      text-align: left;
      border-bottom: 1px solid #ddd;
      color:#888;
      padding: 10px;

      &:first-child{
         border-top: 1px solid #ddd;
      }
   }

   &:last-child{
      border-right: none;
   }
}

h1{
   text-align: center;
   font-size: 3em;
   font-weight: lighter;
   margin-bottom: 20px;
}

p{
   line-height: 1.5em;
   font-size: 1em;

   @media screen and (max-width: 400px){
      font-size: 1.1em;
      text-align: left;
      line-height: 1.3em;
      width: 90%;
      margin: 20px 10px;
   }
}

a{
   color:#333;
   text-decoration: none;
   border-bottom: 1px dotted #333;
   transition: all .4s;

   &:hover{
      border-bottom: 1px dotted darken($orange, 10);
      color: darken($orange, 10);
   }
}